@model GAtec.Seletivo.Domain.Model.Extended.LoginInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <div class="bg"> 
    </div>
    <div class="form-front">teste</div>
</body>
</html>
