@model GAtec.Seletivo.Domain.Model.Exam

@{
    ViewBag.Title = "Home Page";
}

<div id="grid"></div>

<script>

    $(document).ready(function () {

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("IndexAsync","Home")",
                    dataType: "json",
                    type: "GET",
                    schema: {
                        parse: function (data) {
                            var res = [];
                            $.each(data, function (idx, elem) {
                                res.push({ date: new Date(elem.date.time) });
                            });
                            return res;
                        }
                    }
                },
                pageSize: 20
            },

            //groupable: true,
            filterable: true,

            detailInit: detailInit,

            dataBound: function () {
                this.expandRow(this.tbody.find("tr.k-master-row").first());
            },


            columns: [{
                field: "Id",
                width: 100,
                hidden: true
            }, {
                field: "Description",
                title: "Descrição",
                width: 300
            }]

        });
    });

  function detailInit(e) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("IndexCAsync", "Home")",
                    dataType: "json",
                    type: "GET"
                },
                pageSize: 10,
                serverPaging: true,
                serverSorting: true,
                //serverFiltering: true
                filter: { field: "ExamId", operator: "eq", value: e.data.Id }
            },
            scrollable: true,
            sortable: true,
            pageable: true,
            columns: [
                {
                    field: "Id",
                    hidden: true
                },
                {
                    field: "Name",
                    title: "Prova",
                    width: "300px"
                },
                {
                    field: "ExamId",
                    hidden: true
                },
                {
                    template: "<button id='doit' class = 'btn btn-primary'>Iniciar</button>",
                    attributes: { "class": "text-center", },
                    width: 100
                }
            ]
        });
    }


</script>