@model GAtec.Seletivo.Domain.Model.Recruitment

@{
    ViewBag.Title = "Home Page";
}

<div id="grid"></div>

<script>

    $(document).ready(function () {

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("IndexAsync","Home")",
                    dataType: "json",
                    type: "GET",
                    schema: {
                        parse: function (data) {
                            var res = [];
                            $.each(data, function (idx, elem) {
                                res.push({ date: new Date(elem.date.time) });
                            });
                            return res;
                        }
                    }
                },
                pageSize: 20
            },
            //detailInit: detailInit,
            dataBound: function () {
                this.expandRow(this.tbody.find("tr.k-master-row").first());
            },
            columns: [{
                field: "Id",
                hidden: true
            }, {
                field: "Description",
                title: "Descrição",
                width: 300
            }]

        });
    });

    @*function detailInit(e) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                read: "@Url.Action("IndexCAsync", "Home")",
                dataType: "json",
                type: "GET",
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 10,
                filter: { field: "ID_RECRUIT", operator: "eq", value: e.data.Id }
            },
            scrollable: false,
            sortable: true,
            pageable: true,
            columns: [
                { field: "ID", width: "110px" }
            ]
        });
    }*@

</script>